.detail_content {
    width: 100%;
    box-sizing: border-box; //  margin-top: 40px;
    position: relative;
    background: #F8F8F8;
    padding-bottom: 3rem;
    ul li {
        color: #999;
    }
}

.picnum {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 0.13rem 0.44rem;
    border-radius: 0.88rem;
    width: 1.3rem;
    height: 0.57rem;
    line-height: 0.57rem;
    text-align: center;
    margin: auto;
    left: 0;
    bottom: 0.65rem;
    right: 0;
    font-size: 0.52rem;
}

.content_width {
    width: 100%; 
    padding: 0 2%;
    box-sizing: border-box;
}

.detail_title {
    padding-top: 0.22rem;
    padding-bottom: 0.22rem;
    box-sizing: border-box;
    .mian_title {
        font-weight: 600;
        margin-bottom: 0.22rem;
        line-height: 0.88rem;
        font-size: 0.78rem;
        color: #333;
    }
}

.detail_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.7rem;
    font-size: 0.7rem;
    .status {
        color: #f75934;
        font-size: 0.6rem;
    }
}

.price {
    color: #f75934;
    font-weight: 600;
    font-size: 0.78rem;
}

.offer {
    box-sizing: border-box;
    height: 1.6rem;
    line-height: 1.6rem;
    margin-bottom: 0.5rem;
    img {
        height: 0.7rem;
        margin-top: 0.45rem;
        float: left;
        margin-right: 0.2rem;
    }
}

.bgfbox {
    background: #fff;
    color: #999;
    font-size: 0.53rem;
    padding-left: 0.434rem;
    box-sizing: border-box;
    ul {
        li {
            line-height: 0.88rem;
            box-sizing: content-box;
            min-height: 1.3rem;
            display: flex;
            align-items: center;
            img {
                width: 0.65rem;
                padding-right: 0.22rem;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.sold {
    margin-top: 0.44rem;
    box-sizing: border-box;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.6rem;
    .jt {
        img {
            width: 0.35rem;
        }
    }
    .sold_img {
        margin-top: 0.35rem;
        ;
        img {
            border-radius: 100%;
            width: 1.72rem;
            display: inline-block;
            margin: 0 0.15rem;
            &:first-child {
                margin: 0;
            }
        }
    }
}

.detail_btn {
    background: #06c1ae;
    padding: 0;
    width: 3.5rem;
    height: 1.3rem;
    border-radius: 0.15rem;
    font-size: 0.56rem;
    color: #fff;
}

.detail_hotel {
    ul {
        padding: 0.44rem 0;
        box-sizing: border-box;
        line-height: 0.88rem;
        .font_12 {
            color: #999;
        }
        .green {
            font-size: 0.52rem;
        }
        li {
            padding: 0.22rem 0;
        }
        &:last-child {
            border-bottom: none;
        }
    }
}

.organizers {
    .organizers_c {
        box-sizing: border-box;
        padding-top: .5rem;
        background: url(../images/graymore.png) no-repeat right center;
        background-size: .4rem;
        img {
            width: 3rem;
            float: left;
            display: block;
        }
        &:after {
            clear: both;
            content: '';
            display: block;
        }
    }
    .organizers_z {
        width: 12rem;
        box-sizing: border-box;
        padding-top: 1rem;
        padding-left: .3rem;
        float: left;
        h4 {
            font-size: .6rem;
            color: #333;
        }
        p {
            font-size: .2rem;
        }
        .parameter {
            margin-top: .2rem;
            font-size: .3rem;
            i {
                display: block;
            }
            .parblock {
                width: 3.5rem;
                float: left;
                text-align: center;
            }
            .parnum {
                color: #06c1ae;
                font-size: .5rem;
                font-weight: bold;
                margin-top: .2rem;
            }
            &:after {
                clear: both;
                content: '';
                display: block;
            }
        }
    }
}

.detail_foot {
    height: 2.6rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, .8);
    max-width: 640px;
    min-width: 320px;
    img {
        width: 1rem;
    }
    li {
        text-align: center;
        width: 25%;
        .orange {
            font-size: 0.52rem;
        }
    }
    .buy_btn {
        background: #06c1ae;
        height: 2.6rem;
        line-height: 2.6rem;
        color: #fff;
        width: 50%; 
    }
}

.detail_menu {
    width: 100%;
    padding-top: 0.5rem;
    border-bottom: 1px solid #eeeeee;
    ul {
        &:after {
            content: '';
            clear: both;
            display: block;
        }
    }
    li {
        text-align: center;
        float: left;
        height: 1.5rem;
        line-height: 1.5rem;
        //width: 33%;
        width: 50%;
        &.active {
            color: #06c1ae;
            border-bottom: .1rem solid #06c1ae;
        }
    }
}

.details_content {
    padding-top: .5rem;
    font-size: .5rem;
    line-height: 1rem;
    img {
        width: 100%;
    }
}

.score {
    display: none;
    .score_top {
        border-bottom: .01rem solid #eeeeee;
        text-align: center;
        padding: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            padding: 0 .2rem;
        }
        img {
            width: 1rem;
        }
    }
    .score_content {
        padding: .5rem 0;
        box-sizing: border-box;
        .score_content_h {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .score_content_img {
                width: 2.2rem;
                //float: left;
                img {
                    width: 2.2rem;
                    border-radius: 100%;
                }
            }
            h3 {
                width: 7rem;
                font-size: .6rem;
                //float: left;
                .gender {
                    width: 1rem;
                    border-radius: .3rem;
                    padding: .1rem .3rem;
                    background: #ff931b;
                    font-size: .3rem;
                    color: #fff;
                }
            }
            .score_icon_img {
                img {
                    width: 1rem;
                }
            }
            &:after {
                clear: both;
                content: '';
                display: block;
            }
        }
        .score_conten_detail {
            box-sizing: border-box;
            padding-left: 2.3rem;
            .time {
                font-size: .3rem;
                color: #999;
            }
            .score_d {
                p {
                    line-height: 1rem;
                    color: #666;
                }
                .score_d_img {
                    img {
                        width: 4rem;
                        height: 3rem;
                        padding: .1rem;
                    }
                }
                .score_d_bottom {
                    font-size: .3rem;
                    color: #999;
                    ul {
                        align-items: center;
                    }
                    .great_icon {
                        vertical-align: middle;
                        img {
                            width: .8rem;
                        }
                        span {
                            padding: 0 .2rem;
                        }
                    }
                }
            }
        }
    }
}



.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}
.pic_show {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: none
}

.pic_show img {
    width: 100%
}

.swiper-slide {
    background: 0
}
//.detail_foot{
//	display: none;
//}
.buy_check{
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 9999;
	.buy_check_content{
		width: 100%;
		background: #fff;
		position: absolute;
		bottom: 0;
		.buy_check_content_ul{
			position: relative;
			height: 3rem;
			box-sizing: border-box;
			border-bottom: 1px #ddd solid;
			.buy_check_content_l{
				padding: .5rem 0;
				color: #666;
				.subtit{
					margin-top: .3rem;
				}
				.f24{
					font-size: .3rem;
					color: #999;
				}
			}
			.buy_check_content_r{
				position: absolute;
				right: 0;
				top: 1.2rem;
				.mm{
					font-size: .3rem;
					.money{
						font-size: .7rem;
						color: #f75934;
					}
				}
			}
		}
	}
	.buy_back{
		height: 1.8rem;
		text-align: center;
		line-height: 1.8rem;
		font-size: .5rem;
		img{
			padding-right: .3rem;
			width: .4rem;
			vertical-align: middle;
		}
		span{
			vertical-align: middle;
		}
	}
}

.collect_icon_img{
    position: absolute;
    top: .8rem;
    right: .8rem;
    z-index: 999;
    img{
        width: 1.2rem;
    }
}
