.detail_content {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background: #F8F8F8;
  padding-bottom: 3rem;
}
.detail_content ul li {
  color: #999;
}
.picnum {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 0.13rem 0.44rem;
  border-radius: 0.88rem;
  width: 1.3rem;
  height: 0.57rem;
  line-height: 0.57rem;
  text-align: center;
  margin: auto;
  left: 0;
  bottom: 0.65rem;
  right: 0;
  font-size: 0.52rem;
}
.content_width {
  width: 100%;
  padding: 0 2%;
  box-sizing: border-box;
}
.detail_title {
  padding-top: 0.22rem;
  padding-bottom: 0.22rem;
  box-sizing: border-box;
}
.detail_title .mian_title {
  font-weight: 600;
  margin-bottom: 0.22rem;
  line-height: 0.88rem;
  font-size: 0.78rem;
  color: #333;
}
.detail_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.7rem;
  font-size: 0.7rem;
}
.detail_price .status {
  color: #f75934;
  font-size: 0.6rem;
}
.price {
  color: #f75934;
  font-weight: 600;
  font-size: 0.78rem;
}
.offer {
  box-sizing: border-box;
  height: 1.6rem;
  line-height: 1.6rem;
  margin-bottom: 0.5rem;
}
.offer img {
  height: 0.7rem;
  margin-top: 0.45rem;
  float: left;
  margin-right: 0.2rem;
}
/*2017-10-30 早鸟价提示开始*/
.sale_youhui{
	width: 94%;
	height: 100%;
	padding: 0.5rem 3%;
	margin-top: 0.5rem;
	overflow: hidden;
}
.sale_youhui div{
	float: left;
	height: 2rem;
	background-color: #FFFFFF;
}
.sale_youhui .early_left{
	width: 15%;
	height: 1rem;
	
	line-height: 1rem;
	text-align: center;
	font-size: 0.65rem;
	/*border-right: 1px solid #F5F5F5;
	color: #06c1ae;
	*/
	background-color: #06c1ae;
	-webkit-border-radius: 0.25rem;
	border-radius: 0.25rem;
	color: #FFFFFF;
	
}
.sale_youhui .early_mid{
	width: 62%;
	height: 1rem;
	line-height: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #999999;
	font-size: 0.6rem;
	margin-left: 2%;
}
.sale_youhui .early_mid i{
	color: red;
}

.sale_youhui .early_right{
	width: 20%;
	height: 1rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #06c1ae;
	-webkit-border-radius: 0.5rem;
	border-radius: 0.5rem;
}
.sale_youhui .early_right a{
	color: #06c1ae;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 1rem;
	font-size: 0.56rem;
}
/*2017-10-30 早鸟价提示结束*/
.bgfbox {
  background: #fff;
  color: #999;
  font-size: 0.53rem;
  padding-left: 0.434rem;
  box-sizing: border-box;
}
.bgfbox ul li {
  line-height: 0.88rem;
  box-sizing: content-box;
  min-height: 1.3rem;
  display: flex;
  align-items: center;
}
.bgfbox ul li img {
  width: 0.65rem;
  padding-right: 0.22rem;
}
.bgfbox ul li:last-child {
  border-bottom: none;
}
.sold {
  margin-top: 0.44rem;
  box-sizing: border-box;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.6rem;
}
.sold .jt img {
  width: 0.35rem;
}
.sold .sold_img {
  margin-top: 0.35rem;
}
.sold .sold_img img {
  border-radius: 100%;
  width: 1.72rem;
  display: inline-block;
  margin: 0 0.15rem;
}
.sold .sold_img img:first-child {
  margin: 0;
}
.detail_btn {
  background: #06c1ae;
  padding: 0;
  width: 3.5rem;
  height: 1.3rem;
  border-radius: 0.15rem;
  font-size: 0.56rem;
  color: #fff;
}
.detail_hotel ul {
  padding: 0.44rem 0;
  box-sizing: border-box;
  line-height: 0.88rem;
}
.detail_hotel ul .font_12 {
  color: #999;
}
.detail_hotel ul .green {
  font-size: 0.52rem;
}
.detail_hotel ul li {
  padding: 0.22rem 0;
}
.detail_hotel ul:last-child {
  border-bottom: none;
}
.organizers .organizers_c {
  box-sizing: border-box;
  padding-top: .5rem;
  background: url(../images/graymore.png) no-repeat right center;
  background-size: .4rem;
}
.organizers .organizers_c img {
  width: 3rem;
  float: left;
  display: block;
}
.organizers .organizers_c:after {
  clear: both;
  content: '';
  display: block;
}
.organizers .organizers_z {
  width: 12rem;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-left: .3rem;
  float: left;
}
.organizers .organizers_z h4 {
  font-size: .6rem;
  color: #333;
}
.organizers .organizers_z p {
  font-size: .2rem;
}
.organizers .organizers_z .parameter {
  margin-top: .2rem;
  font-size: .3rem;
}
.organizers .organizers_z .parameter i {
  display: block;
}
.organizers .organizers_z .parameter .parblock {
  width: 3.5rem;
  float: left;
  text-align: center;
}
.organizers .organizers_z .parameter .parnum {
  color: #06c1ae;
  font-size: .5rem;
  font-weight: bold;
  margin-top: .2rem;
}
.organizers .organizers_z .parameter:after {
  clear: both;
  content: '';
  display: block;
}
.detail_foot {
  height: 2.6rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  max-width: 640px;
  min-width: 320px;
}
.detail_foot img {
  width: 1rem;
}
.detail_foot li {
  text-align: center;
  width: 25%;
}
.detail_foot li .orange {
  font-size: 0.52rem;
}
.detail_foot .buy_btn {
  background: #06c1ae;
  height: 2.6rem;
  line-height: 2.6rem;
  color: #fff;
  width: 50%;
}
.detail_menu {
  width: 100%;
  padding-top: 0.5rem;
  border-bottom: 1px solid #eeeeee;
}
.detail_menu ul:after {
  content: '';
  clear: both;
  display: block;
}
.detail_menu li {
  text-align: center;
  float: left;
  height: 1.5rem;
  line-height: 1.5rem;
  width: 50%;
}
.detail_menu li.active {
  color: #06c1ae;
  border-bottom: .1rem solid #06c1ae;
}
.details_content {
  padding-top: .5rem;
  font-size: .5rem;
  line-height: 1rem;
}
.details_content img {
  width: 100%;
}
.score {
  display: none;
}
.score .score_top {
  border-bottom: .01rem solid #eeeeee;
  text-align: center;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.score .score_top span {
  padding: 0 .2rem;
}
.score .score_top img {
  width: 1rem;
}
.score .score_content {
  padding: .5rem 0;
  box-sizing: border-box;
}
.score .score_content .score_content_h {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.score .score_content .score_content_h .score_content_img {
  width: 2.2rem;
}
.score .score_content .score_content_h .score_content_img img {
  width: 2.2rem;
  border-radius: 100%;
}
.score .score_content .score_content_h h3 {
  width: 7rem;
  font-size: .6rem;
}
.score .score_content .score_content_h h3 .gender {
  width: 1rem;
  border-radius: .3rem;
  padding: .1rem .3rem;
  background: #ff931b;
  font-size: .3rem;
  color: #fff;
}
.score .score_content .score_content_h .score_icon_img img {
  width: 1rem;
}
.score .score_content .score_content_h:after {
  clear: both;
  content: '';
  display: block;
}
.score .score_content .score_conten_detail {
  box-sizing: border-box;
  padding-left: 2.3rem;
}
.score .score_content .score_conten_detail .time {
  font-size: .3rem;
  color: #999;
}
.score .score_content .score_conten_detail .score_d p {
  line-height: 1rem;
  color: #666;
}
.score .score_content .score_conten_detail .score_d .score_d_img img {
  width: 4rem;
  height: 3rem;
  padding: .1rem;
}
.score .score_content .score_conten_detail .score_d .score_d_bottom {
  font-size: .3rem;
  color: #999;
}
.score .score_content .score_conten_detail .score_d .score_d_bottom ul {
  align-items: center;
}
.score .score_content .score_conten_detail .score_d .score_d_bottom .great_icon {
  vertical-align: middle;
}
.score .score_content .score_conten_detail .score_d .score_d_bottom .great_icon img {
  width: .8rem;
}
.score .score_content .score_conten_detail .score_d .score_d_bottom .great_icon span {
  padding: 0 .2rem;
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.pic_show {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
}
.pic_show img {
  width: 100%;
}
.swiper-slide {
  background: 0;
}
.buy_check {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 9999;
}
.buy_check .buy_check_content {
  width: 100%;
  background: #fff;
  position: absolute;
  bottom: 0;
}
.buy_check .buy_check_content .buy_check_content_ul {
  position: relative;
  height: 3rem;
  box-sizing: border-box;
  border-bottom: 1px #ddd solid;
}
.buy_check .buy_check_content .buy_check_content_ul .buy_check_content_l {
  padding: .5rem 0;
  color: #666;
}
.buy_check .buy_check_content .buy_check_content_ul .buy_check_content_l .subtit {
  margin-top: .3rem;
}
.buy_check .buy_check_content .buy_check_content_ul .buy_check_content_l .f24 {
  font-size: .3rem;
  color: #999;
}
.buy_check .buy_check_content .buy_check_content_ul .buy_check_content_r {
  position: absolute;
  right: 0;
  top: 1.2rem;
}
.buy_check .buy_check_content .buy_check_content_ul .buy_check_content_r .mm {
  font-size: .3rem;
}
.buy_check .buy_check_content .buy_check_content_ul .buy_check_content_r .mm .money {
  font-size: .7rem;
  color: #f75934;
}
.buy_check .buy_back {
  height: 1.8rem;
  text-align: center;
  line-height: 1.8rem;
  font-size: .5rem;
}
.buy_check .buy_back img {
  padding-right: .3rem;
  width: .4rem;
  vertical-align: middle;
}
.buy_check .buy_back span {
  vertical-align: middle;
}
.collect_icon_img {
  position: absolute;
  top: .8rem;
  right: .8rem;
  z-index: 999;
}
.collect_icon_img img {
  width: 1.2rem;
}
/*# sourceMappingURL=detail.css.map */
