.info_header {
    width: 100%;
    height: 2rem;
    background-color: #FFFFFF;
    position: relative;
    line-height: 2rem;
    .lefta {
        display: block;
        position: absolute;
        left: 3%;
        top: 0;
        width: 10%;
        color: #8bc43f;
        font-size: 0.8rem;
        z-index: 3;
    }
    .righta {
        display: block;
        position: absolute;
        right: 3%;
        top: 0;
        width: 20%;
        text-align: right;
        color: #fca242;
        font-size: 0.8rem;
        z-index: 3;
        i {
            font-size: 0.6rem;
        }
    }
    h1 {
        color: #000000;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 2;
        font-size: 0.7rem;
        font-style: normal;
        font-weight: normal;
        text-align: center;
    }
}
.acttime,
.Tchoose {
    width: 94%;
    padding: 0 3%;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.6rem;
    background-color: #8BC43F;
    color: #FFFFFF;
}
.Tchoose {
    padding: 0.5rem 3%;
}
.travel {
    width: 100%;
    height: 100%;
    font-size: 0.65rem;
    .T-title {
        width: 94%;
        padding: 0 3%;
        background-color: #f8f8f8;
        border-bottom: 1px solid #f0f0f0;
        color: #8BC43F;
        height: 2rem;
        line-height: 2rem;
        font-size: 0.7rem;
        font-weight: bold;
    }
    .textarea {
        width: 94%;
        height: 100%;
        padding: 0.5rem 3%;
        background-color: #FFFFFF;
        border-bottom: 1px solid #f0f0f0;
        textarea {
            width: 100%;
            min-height: 2rem;
        }
    }
    .T-con {
        width: 94%;
        padding: 0 3%;
        background-color: #FFFFFF;
        border-bottom: 1px solid #f0f0f0;
        height: 2rem;
        line-height: 2rem;
        .spantext {
            display: block;
            float: left;
            width: 70%;
            i {
                color: #db998b;
            }
        }
        a {
            display: block;
            float: right;
            height: 1.4rem;
            line-height: 1.4rem;
            margin-top: 0.3rem;
            padding: 0 0.5rem;
            background-color: #ffa639;
            color: #FFFFFF;
            -webkit-border-radius: 0.25rem;
            border-radius: 0.25rem;
        }
        .context {
            width: 20%;
            float: left;
        }
        .spaninput {
            float: left;
            width: 80%;
        }
        .icon-202 {
            float: right;
            color: #cfcfcf;
        }
        .default_color {
            color: #cfcfcf;
        }
    }
}
.tips {
    width: 94%;
    padding: 0 3%;
    height: 2rem;
    line-height: 2rem;
    background-color: #f8f8f8;
    font-size: 0.6rem;
    color: #666666;
    i {
        color: #4b808e;
    }
}
.pay {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    position: fixed;
    max-wdith: 640px;
    min-wdith: 320px;
    left: 0;
    bottom: 0;
    span {
        width: 70%;
        display: block;
        height: 2rem;
        background-color: #000000;
        color: #FFFFFF;
        float: left;
        font-size: 0.65rem;
        text-align: center;
        i {
            font-size: 0.56rem;
            font-style: normal;
        }
        em {
            color: #f7a446;
            font-style: normal;
        }
    }
    a {
        display: block;
        width: 30%;
        float: left;
        background-color: #8bc43f;
        color: #FFFFFF;
        text-align: center;
    }
}
.yixiu {
    width: 100%;
    height: 100%;
    p {
        width: 100%;
        text-align: center;
        color: #9c9c9c;
        font-size: 0.6rem;
        img {
            padding-top: 8rem;
            width: 30%;
            padding-bottom: 0.4rem;
        }
    }
}
.submit {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.7rem;
    color: #FFFFFF;
    background-color: #999999;
    text-align: center;
    position: fixed;
    max-wdith: 640px;
    min-wdith: 320px;
    left: 0;
    bottom: 0;
}
.add_info_header {
    background: #8bc43f;
    h1,
    .lefta {
        color: #fff;
    }
}
.editinfo_bg {
    background: #fff;
}
.editinfo {
    width: 90%;
    height: 2.5rem;
    line-height: 2.5rem;
    border-bottom: 1px #e5e5e5 solid;
    margin: 0 5%;
    font-size: 0.5rem;
    &:last-child {
        border-bottom: none;
    }
    .left_edit {
        width: 5rem;
    }
    .right_edit {
        float: right;
        position: relative;
        .icon {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
        /*----------用来移除向下箭头----------*/
        input[type="date"]::-webkit-calendar-picker-indicator {
            opacity: 0;
        }
        /*----------用来移除叉叉按钮----------*/
        input[type="date"]::-webkit-clear-button {
            opacity: 0;
        }
    }
    input,
    select {
        width: 12rem;
        color: #666;
        border: none;
    }
    select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    select::-ms-expand {
        display: none;
    }
    input {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 5;
        height: 2.5rem;
        line-height: 2.5rem;
        background: none;
    }
}