.edit_info {
  width: 100%;
  height: 100%;
  font-family: "微软雅黑";
  padding-bottom: 0.5rem;
}
.edit_info .title {
  width: 100%;
  height: 1.8rem;
  background-color: #fff;
  text-align: center;
  line-height: 1.8rem;
  position: relative;
}
.edit_info .title a {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  text-align: center;
  line-height: 0.8rem;
  color: #333;
  font-family: "宋体";
  font-size: 0.8rem;
}
.edit_info .title h1 {
  font-weight: normal;
  font-size: 0.7rem;
}
.edit_info .act_person {
  width: 92%;
  padding: 0 4%;
  height: 100%;
  font-size: 0.56rem;
  background-color: #8bc53f;
  color: #fff;
}
.edit_info .act_person .go_method {
  width: 100%;
  height: 1.6rem;
  line-height: 1.6rem;
  border-bottom: 1px dotted #f5f5f5;
  position: relative;
}
.edit_info .act_person .go_method i {
  padding-right: 0.3rem;
}
.edit_info .act_person .go_method span {
  display: block;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  position: absolute;
  right: 0;
  top: 0.3rem;
  z-index: 2;
}
.edit_info .act_person .date_go {
  height: 1.6rem;
  line-height: 1.6rem;
  border-bottom: 1px dotted #aac1bc;
}
.edit_info .contract_info {
  width: 92%;
  margin: 0.5rem auto;
  height: 100%;
  border-radius: 0.3rem;
  overflow: hidden;
  font-size: 0.56rem;
  color: #fff;
  background-color: #fff;
}
.edit_info .contract_info.m_t_2r {
  margin-bottom: 2rem;
}
.edit_info .contract_info h1 {
  font-size: 0.56rem;
  font-weight: normal;
  padding: 0.4rem;
  background-color: #8bc53f;
}
.edit_info .contract_info div {
  background-color: #fff;
}
.edit_info .contract_info .lessnum {
  height: 1.6rem;
  line-height: 1.6rem;
  width: 100%;
  text-align: center;
  color: #333;
}
.edit_info .contract_info .lessnum i {
  color: #e34c1b;
  padding: 0 0.2rem;
}
.edit_info .contract_info .contract_info_c {
  width: 100%;
  border-top: 1px solid #e7e7e7;
  padding: 0 .325rem;
  box-sizing: border-box;
  position: relative;
  color: #333;
}
.edit_info .contract_info .contract_info_c .contract_info_c_list {
  height: 1.8rem ;
  line-height: 1.8rem;
}
.edit_info .contract_info .contract_info_c .contract_info_c_list i {
  padding-right: .1rem;
}
.edit_info .contract_info .contract_info_c .contract_info_c_list .name {
  font-size: .6rem;
}
.edit_info .contract_info .contract_info_c .contract_info_c_list .name_status {
  font-size: .4rem;
}
.edit_info .contract_info .contract_info_c .contract_info_c_list .contract_edit {
  padding: .1rem;
  border-radius: .2rem;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: .2rem;
}
.edit_info .contract_info .contract_info_c .contract_info_c_list .contract_edit .icon-bianji {
  font-size: .2rem;
}
.edit_info .contract_info .contract_info_c .contract_info_c_list .icon_p {
  position: absolute;
  right: .325rem;
  top: 0;
}
.edit_info .contract_info .contract_info_c.ok_info {
  background: #f2f2f2;
}
.edit_info .contract_info .contract_info_c .contract_info_c_toggle {
  display: none;
  padding-bottom: .8rem;
  border-radius: .3rem;
}
.edit_info .contract_info .add_user {
  width: 100%;
  height: 1.6rem;
  line-height: 1.6rem;
  background-color: #8bc53f;
  text-align: center;
  position: relative;
}
.edit_info .contract_info .add_user img {
  height: 0.8rem;
  position: absolute;
  top: 0.4rem;
  left: 50%;
  margin-left: -2.6rem;
}
.edit_info .contract_info .classify {
  width: 100%;
  height: 1.6rem;
  line-height: 1.6rem;
  margin-top: 0.4rem;
  border-bottom: 1px solid #e7e7e7;
}
.edit_info .contract_info .classify span {
  display: block;
  float: left;
  color: #333;
}
.edit_info .contract_info .classify .classify_text {
  width: 18%;
  box-sizing: border-box;
  text-align: center;
}
.edit_info .contract_info .classify .adult {
  width: 30%;
  padding-left: 2%;
}
.edit_info .contract_info .classify .adult input {
  margin-top: 0.3rem;
}
.edit_info .contract_info .classify .children input {
  margin-top: 0.3rem;
}
.edit_info .contract_info .namephone {
  height: 1.6rem;
  line-height: 1.6rem;
  border-bottom: 1px solid #e7e7e7;
}
.edit_info .contract_info .namephone span {
  display: block;
  float: left;
  color: #333;
  width: 82%;
}
.edit_info .contract_info .namephone span input {
  width: 96%;
  padding: 0 2%;
  height: 100%;
  line-height: 1.6rem;
  font-size: 0.56rem;
}
.edit_info .contract_info .namephone .edit_input {
  width: 18%;
  text-align: center;
  box-sizing: border-box;
}
.edit_info .contract_info .message_info {
  width: 92%;
  border-radius: 0.3rem;
  margin: 0.5rem auto;
  min-height: 2rem;
  position: relative;
}
.edit_info .contract_info .message_info textarea {
  width: 92%;
  padding: 0.3rem 0 0.3rem 1rem;
  height: 100%;
}
.edit_info .contract_info .message_info span {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
}
.edit_info .contract_info .message_info span img {
  width: 0.6rem;
}
.edit_info .contract_info .submit_btn {
  width: 100%;
  height: 2.2rem;
}
.edit_info .contract_info .submit_btn button {
  width: 35%;
  margin-top: 0.4rem;
  float: left;
  margin-left: 10%;
  color: #fff;
  font-size: 0.56rem;
}
.edit_info .order_submit {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.6rem;
  color: #fff;
  background-color: #cd3d0b;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
}
.edit_info .order_submit img {
  height: 0.9rem;
  position: absolute;
  top: 0.55rem;
  left: 50%;
  margin-left: -2.6rem;
  z-index: 2;
}
.edit_info .order_submit a {
  display: block;
  width: 100%;
  height: 100%;
}
